<!DOCTYPE html>
<html>
  <head>
    <title>sourcebuster.js</title>
    <meta charset="UTF-8">
    <meta content="Track a sources of your traffic with Sourcebuster." name="description">
    <meta content="sourcebuster, sbjs, utm, utm_source, utm_medium, utm_campaign, utm_content, utm_term, organic, referral, direct, analytics, adwords" name="keywords">
    <meta content="website" property="og:type">
    <meta content="Sourcebuster" property="og:title">
    <meta content="Sourcebuster" property="og:site_name">
    <meta content="http://sbjs.rocks" property="og:url">
    <meta content="JavaScript library to track the sources of your traffic." property="og:description">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
