@import "src/styles/config";

.Header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: var(--content-width);
  height: 100px;
}

.HeaderMenu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
}

.HeaderLogoRed {
  color: #ff0000;
}

.HeaderLogoGray {
  color: #b9b9b9;
}
